// Required Parameters
params.reads = "/scratch/cgsb/gencore/out/Gresham/2015-10-23_HK5NHBGXX/lib1-26/*_ntr_*.fastq.gz"
params.ref = "/genomics/genomes/Public/Fungi/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa"
params.outdir = "$BEEGFS/nextflow_out/gatk4/static-quantized-quals"
params.snpeff_db = "Saccharomyces_cerevisiae"
params.pl = "illumina"
params.pm = "nextseq"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// This tells Nextflow to use Slurm
process.executor = 'slurm'

// Here we set the default resources we will request from Slurm
process.cpus = 10
process.memory = '30 GB'
process.time = '60 min'
